.img-thumb-small {
    max-height: 100px;
    max-width: 100px;
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    height: 100%;
}

.img-thumb-small-container { 
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
}

.img-thumb-small-a {
    max-width: 100%;
    height: auto;
}

.img-thumb-medium-container { 
    max-width: 250px;
    max-height: 250px;
    min-width: 50px;
    min-height: 50px;
}

.img-thumb-medium-a {
    max-width: 100%;
    height: auto;
}

.img-thumb-medium {
    max-height: 200px;
    max-width: 200px;
    width: 100%
}

.link-badge {
    max-height: 40px;
    width: 75px;
}

body {
  background-color: #222;
  color: #91938F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #DDDFDC;
}

p {
  color: #DDDFDC;
}

.card {
  background-color: transparent;
}

.bg-darkgreen {
  background-color: #343f40 !important;
}